@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BT MG SERVER</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Bonjour First APP Net Core MVC </a>.</p>
</div>
